
.cart-container {
    background-color: #F5F5F5;
    display: flex;
    display: flex;
  align-items: center;
  justify-content: center;


    .cart-section {
        
        width: 60%;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 3px 8px 0 rgba(0,0,0,.1);
        padding: 30px;

    }
}
