

.category-page {
    background-color: #F5F5F5;
    padding-bottom: 50px;
    min-height: 42vw;
    
    .category-header {
        width: 70%;
        margin: auto;
        padding: 50px 19px;
        }
}