.home-div {
    background-color: #F5F5F5;
    height: auto;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // width: 80%;
    .home-categories-navbar {
        background-color: purple;
        padding: 30px;
        margin-bottom: 20px;
    }


    .home-wrapper div {

    }
    .home-wrapper {
        display: flex;
        justify-content: center;
        
        
        .home-categories {
            background-color: blue;
            flex: 1;

           
        } 
        .home-products {
            background-color: orange;
            flex: 4;

        }
    }
}
