.home-div {
    background-color: #F5F5F5;
    height: auto;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // width: 80%;
    .home-categories-navbar {
        // background-color: purple;
        padding: 30px;
        margin-bottom: 20px;
    }


    .home-wrapper div {

    }
    .home-wrapper {
        display: flex;
        justify-content: center;
        
        
        .home-categories {
            // background-color: blue;
            flex: 1; 
        } 

        .featured-products {
            display: flex;
            flex-direction: column;
            flex: 4;

            .featured-header {
                // background-color: pink;
            }

            .home-products {
                display: flex;
                // width: 50%;
                // flex: 4;
                // background-color: yellow;
                flex-direction: column;
    
                // .product-card-container {
                //     display: flex;
                //     background-color: yellow;
                //     flex-direction: column;
                // }
            }
        }
    }
}
