.home-div {
  background-color: #F5F5F5;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 100px;
}

.home-div .home-wrapper {
  min-height: 100%;
  position: relative;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  margin: auto;
}

.home-div .home-wrapper .home-categories {
  padding-top: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home-div .home-wrapper .home-categories .home-sidebar .menu {
  padding-bottom: 10px;
}

.home-div .home-wrapper .home-categories .home-sidebar .menu a {
  font-size: 14px;
  color: #5E5E5E;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
}

.home-div .home-wrapper .home-categories .home-sidebar .menu a svg {
  margin-right: 10px;
}

.home-div .home-wrapper .home-categories .home-sidebar .menu a:before, .home-div .home-wrapper .home-categories .home-sidebar .menu a:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #5E5E5E;
}

.home-div .home-wrapper .home-categories .home-sidebar .menu a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.home-div .home-wrapper .home-categories .home-sidebar .menu a:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.home-div .home-wrapper .home-categories .home-sidebar .menu a:hover:before, .home-div .home-wrapper .home-categories .home-sidebar .menu a:hover:after, .home-div .home-wrapper .home-categories .home-sidebar .menu a:focus:before, .home-div .home-wrapper .home-categories .home-sidebar .menu a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.home-div .home-wrapper .home-categories .home-sidebar .menu a:hover:before, .home-div .home-wrapper .home-categories .home-sidebar .menu a:focus:before {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.home-div .home-wrapper .home-categories .home-sidebar .menu a:hover:after, .home-div .home-wrapper .home-categories .home-sidebar .menu a:focus:after {
  -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.home-div .home-wrapper .featured-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.home-div .home-wrapper .featured-products .site-name {
  padding-left: 20px;
  margin-bottom: 40px;
}

.home-div .home-wrapper .featured-products .home-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=home.css.map */