.navbar2 {
  background-color: #5E5E5E;
}

.navbar2 .top-nav-ul {
  width: 70%;
  margin: auto;
}

.navbar2 .top-nav-ul ul .signout {
  float: right;
}

.navbar2 .top-nav-ul ul .cart-icon {
  float: right;
}

.navbar2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar2 li {
  float: left;
}

.navbar2 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar2 li a:hover:not(.active) {
  background-color: #111;
}

.navbar2 .active {
  background-color: #4CAF50;
}

.navbar2 .home-categories-navbar {
  background-color: #d2d1cd;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar2 .home-categories-navbar .menu {
  width: 9em;
}

.navbar2 .home-categories-navbar .menu a {
  font-size: 12px;
  color: #5E5E5E;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
}

.navbar2 .home-categories-navbar .menu a svg {
  display: none;
}

.navbar2 .home-categories-navbar .menu a:before, .navbar2 .home-categories-navbar .menu a:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #5E5E5E;
}

.navbar2 .home-categories-navbar .menu a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar2 .home-categories-navbar .menu a:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar2 .home-categories-navbar .menu a:hover:before, .navbar2 .home-categories-navbar .menu a:hover:after, .navbar2 .home-categories-navbar .menu a:focus:before, .navbar2 .home-categories-navbar .menu a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navbar2 .home-categories-navbar .menu a:hover:before, .navbar2 .home-categories-navbar .menu a:focus:before {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar2 .home-categories-navbar .menu a:hover:after, .navbar2 .home-categories-navbar .menu a:focus:after {
  -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/*# sourceMappingURL=navbar.css.map */