html, body, #root {
    // position: absolute;
    min-height: 100%;
    // bottom: 0;
    // top: 0;
}


@keyframes slideInFromLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  

.product-page-wrapper {
    display: flex;
    background-color: #F5F5F5;
    // height: 100%;
    // padding-bottom: 50px;
    min-height: 48vw;



    .product-page-container {
       
        display: flex;
        width: 60%;
        // flex-direction: column;
        margin: auto;
        margin-top: 70px;
        // background-color: yellow;

        .link-to-cart {
            animation: 1s ease-out 0s 1 slideInFromLeft;
            // background-color: red;
            flex: 2;
            background-color: #fff;

            .cart-confirmation-div {
                width: 80%;
                margin: auto;
                
                .added-to-cart {
                    display: flex;
                    flex-direction: row;
                    height: 80px;
                    margin-top: 40px;
                    padding: 20px;
                    border: 1px solid #ccc;
                    margin: 26px 0 16px;
                    min-height: 60px;
                    background-color: #f3f3f3!important;

                    div {
                        margin-right: 20px;
                    }

                    .tick {
                        svg {
                            color: #4E980A;
                        }
                    }

                    .prod-image {
                        height: 80px;
                        width: 30px;

                        img {
                            max-width:100%;
                            max-height:100%;
                            border: 1px solid #4E980A;
                            padding: 3px;
                        }
                    }

                    .text-added {
                        p {
                            color: #4E980A;
                        }
                    }
                }

                .cart-subtotal {
                    background-color: #f3f3f3!important;
                    border: 1px solid #ccc;
                    padding: 10px;

                    p.normal {
                        font-style: bold;
                    }
                }

                .proceed-to-cart {
                    display: flex;
                    margin-top: 80px;
                    align-items: center;
                    flex-direction: row;

                    svg {
                        font-size: 2em;
                    }

                    .right {
                        flex: 1;
                        text-align: right;
                    }

                    .left {
                        flex: 1;
                    }
                }
            }
        }

        .main {
            flex: 4;
            margin-right: 6px;
            background-color: #fff;

        .product-page-desc {
            padding: 20px;
            padding-top: 40px;
            width: 60%;
            // background-color: blue;
        }
    
        .product-image-detail {
            display: flex;
            // background-color: orange;
            .add-to-cart-button {

                button {
                    background-color: #5e5d5d;
                    padding: 5px 0;
                    color: #fff;
                    width: 100%;
                }

                button:hover {
                    background-color: #8d8b8b;

                }
            }

        }


        .product-page-details {
            padding-top: 270px;
            padding-left: 30px;

            
    
            // background: #333;
            // padding: 30px;

            .add-to-cart-button button {
                margin-bottom: 20px;
                padding: 10px 0; 
            }

            .add-to-cart-button label {
                margin-right: 20px;
            }

        }

        .product-page-details h3 {
            font-size: 1.9em;
        }

        .product-page-details button {
            // position: absolute;
            right: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            transition: all 0.4s ease-in 0s;
        }
    
        .product-page-desc {
            // background-color: pink;
        }
    }
    }
}
