.product-page-wrapper {
    display: flex;
    background-color: #F5F5F5;
    height: 100%;
    padding-bottom: 50px;

    .product-page-container {
        background-color: #fff;

        display: flex;
        width: 60%;
        flex-direction: column;
        // justify-content: center;
        margin: auto;
    
        margin-top: 40px;

        .product-page-desc {
            padding: 20px;
            padding-top: 40px;
            width: 60%;
            // border: solid #F5F5F5;
        }
    
        .product-image-detail {
            display: flex;
            // background-color: blue;
            .add-to-cart-button {
                // margin: 0;
                // padding: 0;
                // border: 0;
                // font-size: 100%;
                // font: inherit;
                // vertical-align: baseline;

                button {
                    background-color: rgb(56, 102, 223);
                    padding: 5px 0;
                    color: #fff;
                    // position: absolute;
                    // right: 0px;
                    width: 100%;
                    // height: 100%;
                    // display: flex;
                    // -webkit-box-align: center;
                    // align-items: center;
                    // -webkit-box-pack: center;
                    // justify-content: center;
                    // transition: all 0.4s ease-in 0s;
                }
            }

        }


        .product-page-details {
            padding-top: 270px;
            padding-left: 30px;

            .add-to-cart-button button {
                margin-bottom: 20px;
                padding: 10px 0; 
            }

            .add-to-cart-button label {
                margin-right: 20px;
            }

        }

        .product-page-details h3 {
            font-size: 1.9em;
        }

        .product-page-details button {
            // position: absolute;
            right: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            transition: all 0.4s ease-in 0s;
        }
    
        .product-page-desc {
            // background-color: pink;
        }
    }
}
